/* Asterisk selector to not interfere with specific designs */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

/* Root colour scheme for easy styling */
:root {
    /* P = Primary | S = Shadow */
    --p-text: #FFFFFF;
    --p-highlight: #000000;
    --p-block1: #3061E3;
    --p-block2: #FF3131;
    --p-block3: #FFBF00;
    --s-block1: #1F51FF;
    --s-block2: #FF0000;
    --s-block3: #F9D71C;
}

/* font styling */
@font-face {
    font-family: "Tetris";
    src: url("../square-mile.ttf");
    /* uses custom font if font not ready */
    font-display: swap;
}

body {
    font-family: "Tetris";
    color: var(--p-text);
    font-size: 16px;
}

button {
    font-family: "Tetris";
    cursor: pointer;
    padding: 2px;
}

h1 {
    font-size: 245%;
    /* makes h1 text 3 colours */
    background: linear-gradient(#3061E3, #FF3131, #FFBF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 150%;
    text-align: center;
}

p {
    text-align: center;
    background-color: var(--p-highlight);
    margin: 5px;
}

header {
    background-color: var(--p-highlight);
    padding: 2px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 5px var(--p-block1);
}

/* Nav styles */
#difficulty {
    letter-spacing: 1px;
    position: absolute;
    padding: 10px;
    display: none;
    top: 8em;
    background-color: var(--p-highlight);
    border: 2px solid var(--p-block1);
}

#difficulty > button {
    background-color: var(--p-block1);
}

#difficulty > button:hover {
    color: var(--p-text);
    box-shadow: 0 0 6px 4px var(--p-text);
}

#difficulty .current {
    background-color: var(--p-block3);
}

#tog {
    display: none;
}

#tog:checked~nav {
    display: block;
}

#tog-lab {
    font-size: 2rem;
    cursor: pointer;
}

/* sound button styles */
#sound {
    background: none;
    margin: auto 0 10px 0;
    border: none;
    font-size: 1em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#sound:hover {
    box-shadow: 0 0 2px 4px var(--p-text);
}

#sound i {
    color: var(--p-text);
}

/* Background images */
.easy-bg {
    background: url("../images/green-hill.jpg") no-repeat center center / cover;
}

.medium-bg {
    background: url("../images/labyrinth.avif") no-repeat center center / cover;
}

.hard-bg {
    background: url("../images/boss-bg.png") no-repeat center center / cover;
}

/* Main section */
#main-wrap {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

#side-wrap {
    margin: 5px auto;
}

#score-wrap {
    background-color: var(--p-highlight);
    padding: 2px;
}

#game-wrap {
    width: 300px;
    height: 600px;
    background-color: var(--p-highlight);
    display: flex;
    flex-wrap: wrap;
    margin: 2px auto;
}

#game-wrap div {
    width: 30px;
    height: 30px;
}

.sqr {
    background-color: var(--p-block1);
}

/* dialog styles */
dialog {
    z-index: 100;
    margin: auto;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--p-highlight);
}

#close-dial {
    background-color: var(--p-block2);
}

#close-dial:hover {
    background-color: #d60000;
}

dialog::backdrop {
    background-color: rgba(255, 0, 0, 0.5);
}

#esc {
    color: var(--p-text);
}

/* Buttons */
#left, #right, #twist, #down {
    width: 60px;
    height: 35px;
    margin: 5px 5%;
    background-color: var(--p-text);
}

#left-right, #down-twist  {
    text-align: center;
}

#left-right i, #down-twist i {
    font-size: x-large;
}

#instructions, #start-stop, #reset {
    display: block;
    margin: 5px auto;
    background-color: var(--p-text);
}

#eggman-btn {
    margin: 5px;
    background-color: var(--p-text);
}

#instructions:hover, #start-stop:hover, #reset:hover, #left:hover, #right:hover, #twist:hover, #down:hover, #eggman-btn:hover {
    background-color: #BCC6CC;
}

/* 404 title */
#error-h2 {
    color: var(--p-block2);
}

/* 404 image */
#robotnik {
    width: 50%;
    display: block;
    margin: 5px auto;
}

/* 404 main text */
#error-p {
    letter-spacing: 3px;
    margin: 8% 5px;
    color: var(--p-block2);
}

/* 404 footer */
#error-foot {
    height: 4em;
    margin-top: 5%;
}

/* footer section */
footer {
    width: 100%;
    text-align: center;
    background-color: var(--p-highlight);
    border-top: solid 5px var(--p-block1);
    padding: 10px;
}

#history {
    color: var(--p-block2);
    font-size: medium;
    letter-spacing: 3px;
    display: block;
}

#history:hover {
    text-shadow: 2px 10px 4px var(--s-block2);
}

#expo {
    color: var(--p-block1);
    font-size: medium;
    letter-spacing: 3px;
    display: block;
}

#expo:hover {
    text-shadow: 2px 10px 4px var(--s-block1);
}

#top-players {
    color: var(--p-block3);
    font-size: medium;
    letter-spacing: 3px;
    display: block;
}

#top-players:hover {
    text-shadow: 2px 10px 4px var(--s-block3);
}

#github {
    color: var(--p-text);
    font-size: x-small;
    display: block;
    letter-spacing: 3px;
    padding: 5px;
}

#github:hover {
    text-shadow: 2px 10px 4px var(--p-text);
}

/* Styles for screens larger than 575px */
@media screen and (min-width: 576px) {
    #difficulty {
        top: 7%;
        left: 30%;
        letter-spacing: 5px;
    }

    /* 404 styles */
    #error-h2 {
        font-size: xx-large;
    }

    #robotnik {
        width: 250px;
    }

    #error-p {
        font-size: larger;
    }
}

/* Styles for screens larger than 767px */
@media screen and (min-width: 768px) {
    #difficulty {
        left: 50%;
    }

    #side-wrap {
        margin-left: 55%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 16%;
    }

    #game-wrap {
        margin-left: 10%;
    }

    h2 {
        margin-top: 3%;
        margin-right: 40%;
    }

    .btn-area {
        margin-right: 40%;
        margin-bottom: 5%;
    }

    /* 404 styles */
    #eggman-btn {
        float: right;
        margin-right: 6em;
    }

    #robotnik {
        margin-top: 10px;
    }

    #error-p {
        margin: 3% 10px;
        font-size: x-large;
    }
}

/* Styles for screens larger than 991px */
@media screen and (min-width: 992px) {
    h2, .btn-area {
        margin-right: 50%;
    }

    /* 404 styles */
    #robotnik {
        width: 300px;
    }

    #error-foot {
        margin-top: 3%;
    }
}

/* Styles for screens larger than 1199px */
@media screen and (min-width: 1200px) {
    #difficulty {
        letter-spacing: 25px;
    }

    button {
        width: 150px;
    }

    #side-wrap {
        margin-left: 50%;
    }

    h2, .btn-area {
        margin-right: 58%;
    }

    #game-wrap {
        width: 320px;
        height: 640px;
    }

    #game-wrap div {
        width: 32px;
        height: 32px;
    }

    #history, #expo, #top-players {
        display: inline;
        letter-spacing: 1px;
    }

    /* 404 styles */
    #error-h2 {
        font-size: xxx-large;
    }

    #eggman-btn {
        margin-right: 20%;
    }

    #error-p {
        font-size: xx-large;
        margin: 3% 15px;
    }
}